<tr data-genre-id="<%= genre.id %>">
    <td><%= genre.name %></td>
    <td class="d-flex drop-zone" id="drop-zone-<%=genre.id%>">
        <% genre.restos.each do |r| %>
            <span " tabindex="0" draggable="true" id= "resto_<%=r.id%>" class="genre_tag flex-wrap" data-resto-id="<%= r.id %>">
                <%=r.name %>
            </span>
        <% end %>
    </td>
</tr> 