<tr data-genre-id="<%= genre.id %>"  >
    <th scope="row">
        <span class="genre_tag cornsilk" tabindex="0"> <span><%= genre.name %> </span>
            <span><%= link_to genre_path(genre), method: :delete, remote: true, data:{confirm: "You can delete this tag only if not used"} do %>
                <i class= 'fa fa-times-circle' style="color:red;"></i>
            <% end %>
        </span>
    </th>
    <td class="drop-zone border" id="drop-zone-<%=genre.id%>">
        <% genre.restos.each do |r| %>
            <span   draggable="true"  class="resto_tag <%=r.color%>" data-resto-id="<%= r.id %>">
                <%=r.name %>
            </span>
        <% end %>
    </td>
</tr> 
