if (<%= @genre.errors.any? %>) {
    document.querySelector("#new_genre").remove()
    document.getElementById('new_form_genre')
        .insertAdjacentHTML(
            'beforeend',
            `<%= j render 'genres/form_new_genre', genre: @genre %>`)

} else {
    // update the select list
    document.querySelector('#form_resto_genre').reset()
    document.querySelector('#resto_genre_id').insertAdjacentHTML(
        'beforeend',
        `<option value="<%= @genre.id %>"><%= @genre.name %> </option>`
    )

    document.querySelector('#tb-genres').insertAdjacentHTML(
        'beforeend',
        `<%= j render 'genres/row', genre: @genre %>`
    )
    document.querySelector('#new_genre').reset()
}