<div class="container">
    <div class="row">
    <h1> Drag & drop and persist to database with <code>fetch()</code> </h1>
    <p>You can Drag & Drop a restaurant into a different "type" cell, and this choice will be updated in the database
    with a <code>fetch() 'POST'</code>. You can also do it 'by hand' in the form. </p>
    <p> You can create 'types'. They can de destroyed, whether by clicking on the tag (the action is a <code>link_to # method: :delete</code>),
        whether by selecting it into the form and destroy by <code>fetch() 'DELETE</code> (destroy vs delete).
        We have backend validation against uniqueness and front-end against existence.</p>
    </div>
    <div class="row">
        <div class="col-md-6" id="new_form_genre">
            <div class="card">
                <div class="card-header">Create a new Type</div>
                <div class="card-body" id="insert-form-genre">
                    <%= render 'genres/form_new_genre', genre: @genre %>
                </div>
            </div>   
        </div>
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">Select a type for destruction</div>
            <div class="card-body">
                <form id="genreDeleteForm">
                    <label for="">Click in the table to select a 'type' to delete</label>
                    <input type="text" id="genre_to_delete" readonly class="form-control" style="color:red;font-weight:bold;">
                    <input type="number" hidden id="hiddenId" >
                    <br>
                    <input type="submit" class="btn btn-danger" value="Delete (fetch)">
                </form>
            </div>
        </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-8">
        <h5>Drag & Drop a restaurant to assign a new 'type'</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Restaurants</th>
                    </tr>
                </thead>
                <tbody id="tb-genres">
                    <%= render 'genres/tr_genres', genres: @genres  %>
                </tbody>
            </table>
        </div>
        <div class="col-md-4" >
            <div class="card">
                <div class="card-header">
                Select restaurant and assign a 'Type'
                </div>
                <div class="card-body">
                    <%= simple_form_for @resto, html: { method: :patch, id:"form_resto_genre"},  url: 'genres/set_genre_to_resto', remote: true do |f|  %>
                        <%= f.error_notification %>
                        <%#= render 'shared/errors', myvar: f.object %>
                        <%= f.input :id, label: "Restaurant Name", collection: Resto.all.order(name: :asc) %>
                        <%= f.input :genre_id, label: "Assign New Type", collection: Genre.all.order(name: :asc)%>
                        <%= f.button :submit, "Assign", id:"submit_resto", class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>