<div class="container">
<h2>
    <%= link_to  root_path, class:"btn btn-info", style:"font-size:12px; color: white;" do %>
        <i class="fas fa-home"></i>
    <% end %>
</h2>

    <div class="row">
        <div class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Restaurants</td>
                    </tr>
                </thead>
                <tbody id="tb-genres">
                    <%= render 'genres/tr_genres', genres: @genres %>
                </tbody>
            </table>
        </div>

        <div class="col-md-3" >
            <h3>Select a restaurant and assign it a 'Type'</h3>
            <%= simple_form_for @resto, html: { method: :patch, id:"form_resto_genre"},  url: 'set_genre_to_resto', remote: true do |f|  %>
                <%= render 'shared/errors', myvar: f.object %>
                <%= f.input :id, label: "Restaurant Name", collection: @restos %>
                <%= f.input :genre_id, label: "Type", collection: @genres%>
                <%= f.button :submit, "Assign", id:"submit_resto", class:"btn btn-primary" %>
            <% end %>
        </div>
        <div class="col-md-3" id="new_form_genre">
            <h3>Create a new Type</h3>
                <%= render 'genres/form_new_genre', genre: @genre %>
        </div>
    </div>
</div>