if (<%= @comment.errors.any? %>) {
    document.querySelector("#new_comment").remove()
    document.getElementById('new_comments').insertAdjacentHTML('beforeend',`<%= j render 'comments/form-comment-resto' %>`)

} else {
    document.getElementById('tb-comments').insertAdjacentHTML('beforeend',`
        <tr data-comment-id="<%= @comment.id %>">
            <th><%= @comment.resto.name %></th> 
            <td contenteditable="true" id="content_<%= @comment.id %>"><%= @comment.comment %> </td>
            
            <td>
                <%= form_with model: @comment do |f| %>
                    <%= f.hidden_field :comment,  id:"comment_content_#{@comment.id}" %>
                    <%= f.button :submit do %>
                        <i class="fas fa-spell-check" style="color:green" data-toggle="tooltip" data-placement="top" title="Save Edit"></i>
                    <% end %>
                <% end %> 
            </td>
            <td>
                <%= link_to  @comment, method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-times-circle fa-2x mt-1" style="color:red" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                <% end %>
            </td>
        `)
    document.querySelector("#new_comment").reset()
    document.querySelector('#new_comments').textContent = ""
}


