document.getElementById('tb-comments').insertAdjacentHTML('beforeend',
`<tr data-comment-id="<%= @comment.id %>"> <td><%= @comment.comment %></td> <td><%= @comment.resto.name %></td> 
<td><%= link_to 'Edit', edit_resto_comment_path(@comment.resto, @comment) %></td>
<td><%= link_to 'Destroy', @comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>`)