
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Comments with Ajax Kaminari and adding on the fly in Select</h1>
    </div>
      
    <div class="col-md4">
      <h2>
        <%= link_to 'Go to restaurants list', restos_path, class:"badge badge-secondary", style:"font-size: 16px; color:white"%>
      </h2>
    </div>
  </div>
  <p>The comments are editable and can be saved on the fly (Ajax). The Kaminari rendering of the table is also AJAX.
  We can create a comment with the associated restaurant. If we want to add a restaurant which is not on the list while on this page, there is a form to create one on the fly.</p>
  <p></p>
  <div id="paginator">
      <%= paginate(@comments, remote: true)  %>
  </div>
  <%#= link_to_next_page @comments, 'Next Page', remote: true %>
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Comment (editable)</th>
          <th>Restaurant</th>
          <th>Save Edit</th>
          <th> Delete Comment</th>
        </tr>
      </thead>
      <tbody id="tb-comments"> 
       <%= render 'comments/table_comments' %>
      </tbody>
    </table>
    
    
    <br>

  </div>
  <div class="row">
    <div class="col-md-8">
            <%= link_to 'New Comment with associated restaurant', 'comments/new', remote: true, class:"btn btn-success", style:" color:white;" %>

      <div id="new_comments"></div>
    </div>
    <div class="col-md-4">
        <%= link_to 'Add new Restaurant on the fly?', 'comments/new_resto_on_the_fly', remote: true, class:"btn btn-success", style:" color:white;" %>
      <div id="new_resto_on_the_fly"></div>
    </div>
  </div>
  <hr>
  <p>
    <%= link_to  root_path, class:"btn btn-info", style:"font-size:12px; color: white;" do %>
    <i class="fas fa-home"></i>
    <% end %>
    <%= link_to 'Index Restaurants', restos_path, class:"btn btn-info", style:"font-size:12px; color:white;" %>

    <%= link_to 'Navigate to Dynamic form', 'nests/new', data: {turbolinks: false}, class:"btn btn-info", style:"font-size:12px; color: white;" %>

  </p>
  <hr>
  
</div>
