
<div class="container">
  <div class="row">
  <h1>Comments with Ajax Kaminari and adding on the fly in Select</h1>
  <p>The comments are editable and can be saved on the fly (Ajax). The Kaminari rendering of the table is also AJAX.
  We can create a comment with the associated restaurant. If we want to add a restaurant which is not on the list while 
  on this page, there is a form to create one on the fly.</p>
  <p>Below is a basic search; you can query for Comments against a type, against a restaurant, and
  against a word. If no results, a void table is displayed. Clic on search to refresh with the full results.</p>
  </div>

  <div class="row">
      <%= simple_form_for :search, method: 'GET' do |f| %>
        <div class="input-field">
          <%= f.input_field :g, required: false, input_html: {value: ""},placeholder: "Search by 'type'"  %>
          <%= f.input_field :r, required: false, input_html: {value: ""},placeholder: "Search by restaurant" %>
          <%= f.input_field :pg, required: false, input_html: {value: ""},placeholder: "Any word" %>
          <%= button_tag(type: 'submit', class: "btn btn-outline-success btn-lg", style:"padding: .8rem 1rem") do %>
            <i class="fas fa-search" id="i-search"></i>
          <% end %>
        </div>
        <% end %>
        <%# note: input_html: {value: ""} to give a blank value on page refresh %>
  </div>
  <div class="row">
    <div id="paginatorComments">
        <%= paginate(@comments, remote: true)  %>
    </div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Comment (editable)</th>
          <th>Save Edit</th>
          <th> Delete Comment</th>
        </tr>
      </thead>
      <tbody id="tb-comments"> 
       <%= render 'comments/table_comments' %>
      </tbody>
    </table>
    
    
    <br>

  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <%= link_to 'New Comment with associated restaurant', 'comments/new', remote: true, class:"btn btn-success", style:" color:white;" %>
        </div>
        <div class="card-body">
          <div id="new_comments"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <%= link_to 'Add new Restaurant on the fly?', 'comments/new_resto_on_the_fly', remote: true, class:"btn btn-success", style:" color:white;" %>
        </div>
        <div class="card-body">
          <div id="new_resto_on_the_fly"></div>
        </div>
      </div> 
    </div>
  </div>
</div>
