
<div class="container">
<h1>Exemple quadruple through joint nested tables form</h1>

<p>In this toy example, we have a <em>one-to-many</em> association with three models: <em>Genre</em>, <em>Resto</em> and
 <em>Comment</em> with respectively <code>has_many :comments</code> and <code>belongs_to :resto</code>.</p>
 <p>We use the method <code>accepts_nested_atributes_for </code> in the models and <code>fields_for</code>
to create the association array.</p>



   
    <div class="row justify-content-start" style="height:auto;">
        <div class="col-md-6 border pl-2 pr-2">        
            <%= simple_form_for @genre, url: nests_path do |f| %>
                <%= f.error_notification%>
                <%= f.object %>
                <%#= render 'shared/errors', myvar: f.object %>
                <%= f.input :name, label:"Type of restaurant" %>
                <%= f.simple_fields_for :restos do |r| %>
                    <%= r.object %>
                    <%= r.input :name, label:"Restaurant's name" %>
                    <%# imposible now triple since comments linked to clients %>
                    <%= r.simple_fields_for :comments do |c| %>
                        <%= c.object %>
                        <%= c.input :comment, label:"Add a comment" %>
                        <%= c.simple_fields_for :client do |cl| %>
                            <%= cl.input :name, label: "Client", collection: Client.all.order(name: :asc), include_blank: false %>
                        <% end %>
                    <% end %>
                <% end %>
                <%= f.button :submit, "Triple nested", class:"btn btn-primary" %>
            <% end %>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">We supply an existintg object <code>Genre.first</code> to edit it</div>
                <div class="card-body">

                    <%#= render 'genres/form_new_genre', genre: Genre.first %>
                    <%# update_genre %>
                    <%= simple_form_for @genre_first, url: 'update_genre', method: 'PATCH' do |f| %>
                        <p>f.object.name : <%=f.object.name %></p>
                        <p><% f.object.restos.each do |r| %>
                            <%= r.name %>,
                            <% end %>
                        </p>
                        <%= f.error_notification %>
                        <%= f.input :name %>
                        <%= f.button :submit, class:"btn btn-primary" %>
                    <% end %>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">We supply a fresh new object <code>Genre.new</code> to create one </div>
                <div class="card-body">

                    <%#= render 'genres/form_new_genre', genre: Genre.new %>
                    <%# 'create_genre' %>
                    <%= simple_form_for @genre_new, url: 'create_genre', method: 'POST' do |f| %>
                        <p>f.object.name : <%=f.object.name %></p>
                        <%= f.error_notification %>
                        <%= f.input :name %>
                        <%= f.button :submit, class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">We supply a new nested object pre-filled <code>Resto.new(genre: @genre.find(12))</code> </div>
                <div class="card-body">

                    <%= simple_form_for @restof, url: 'create_resto', method: 'POST' do |f| %>
                        <p><%= f.object %></p>
                        <%= f.input :name %>
                        <%= f.input :genre_id %>
                        <%= f.button :submit, class:"btn btn-primary" %>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
    
</div>





