<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 sticky-top shadow-sm">
    <div class="container">
     <%= link_to  root_path, class:"btn btn-info", style:"font-size:16px; color: white;" do %>
    <i class="fas fa-home"></i>
    <% end %>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to 'Queries', pages_queries_path, class:"btn btn-info mr-2", style:"color:white;" %>
                </li>
                <li class="nav-item">
                <!-- class: "nav-link"-->
                    <%= link_to "Dynamic nested Form", genres_new4_path, class: "btn btn-info mr-2", style:"color:white;" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Drag & Drop, Fetch", genres_path, class: "btn btn-info mr-2", style:"color:white;" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Restos - Editable cells", restos_path, class: "btn btn-info mr-2", style:"color:white;" %>
                </li> 
                <li class="nav-item">
                <!-- class: "nav-link"-->
                    <%= link_to "Comments", comments_path, class: "btn btn-info mr-2", style:"color:white;" %>
                </li>
                
                

            </ul>
        </div>
    </div>
</nav>