<div class="container">
<div class="row">
    <div class="col-md-5">
        <ul>
            <li>
                <%= link_to 'Explanation of Queries and Search', pages_queries_path, class:"badge" %>
            </li>

            <li>
                <%= link_to 'Dynamic nested forms', genres_new4_path, class:"badge" %>
            </li>

            <li>
                <%= link_to 'Drag & Drop "Genres" with Fetch', genres_path, class:"badge" %>
            </li>

            <li>
                <%= link_to 'Restos, other dynamic nested form', restos_path, class:"badge" %>
            </li>

            <li>
                <%= link_to 'pg-search on Comments', comments_path, class:"badge" %>    
            </li>

            <li>
                <%= link_to 'Clients', clients_path, class:"badge" %>    
            </li>
            
        </ul>
    </div>
    <div class="col-md-7">
        <note>The database has 4 linked <em>one-to-many</em> associations, and the table <em>comments</em> is a joint table between <em>comments</em> and <em>clients</em>.</note>
        <figure>
            <%= image_tag 'db-schema.jpeg'  %>
        </figure>
    </div>
</div>
</div>






